.about-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 880px;
    background: #000;
    .about-body{
        display: flex;
        justify-content: center;
        .about-image-container{
            width: 480px;
            height: 640px;
            .about-image{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .about-content{
            display: flex;
            flex-direction: column;
            row-gap: 14px;
            width: 680px;
            background: #0E1118;
            padding: 39px 64px;
            .about-header{
                color: var(--foundation-blue-new-blue-new-50, #E7EAF2);
                font-family: Lato;
                text-align: left;
                font-size: 38px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
            .about-desc{
                color: var(--foundation-blue-new-blue-new-100, #B4BFD6);
                font-family: Open Sans;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 170%;
                text-align: left;
                margin-top: 32px;
                width: 672px;
                display: flex;
                flex-direction: column;
                row-gap: 30px;
            }
            .about-btn-container{
                width: 162px;
                height: 48px;
                margin-top: 47px;
                cursor: pointer;
                .about-btn-image{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .about-container{
        height: auto;
        padding-top: 24px;
        .about-body{
            flex-direction: column;
            align-items: center;
            .about-image-container{
                width: 360px;
                height: 360px;
            }
            .about-content{
                width: auto;
                .about-desc{
                    width: auto;
                    margin-top: 20px;
                }
                .about-btn-container{
                    margin-top: 20px;
                }
            }
        }
    }
}
