.hcontainer{
    width: 100%;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    .hlogo{
        display: flex;
        justify-content: center;
        margin-left: 40px;
    }
    .hmenu{
        display: flex;
        align-items: center;
        column-gap: 26px;
        margin-right: 40px;
        .tabs-container{
            display: flex;
            align-items: center;
            column-gap: 26px;
            .tab{
                color: #FFF;
                text-align: center;
                font-family: Open Sans;
                font-size: 15px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                cursor: pointer;
                &:hover{
                    color: #FFB248;
                }
            }
        }
        .header-btn-container {
            display: flex;
            column-gap: 16px;
            .career-tab{
                display: flex;
                padding: 12px 24px;
                justify-content: center;
                align-items: center;
                border-radius: 2px;
                border: 1px solid var(--foundation-orange-orange-500, #FFB248);
                color: var(--foundation-orange-orange-500, #FFB248);
                font-family: Open Sans;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                cursor: pointer;
            }
            .get-started-btn{
                cursor: pointer;
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .hcontainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        row-gap: 10px;
        align-items: baseline;
        height: auto;
        .hlogo{
            margin-left: 30px;
        }
        .hmenu {
            display: flex;
            width: 90%;
            flex-wrap: wrap;
            row-gap: 30px;
            margin: 0px;
        }
    }
}