.header-tabs{
    column-gap: 16px;
    .header-tab{
        color: #FFF;
        text-align: center;
        font-family: Open Sans;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        cursor: pointer;
        &:hover{
            color: #FFB248;
        }
    }
}